# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
*.egg-info/

# DVC cache
/.dvc/cache
/.dvc/tmp

# MLflow local tracking store
mlruns/
mlflow.db

# OS / editor
.DS_Store
.vscode/
*.swp

# misc
*.log
